* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  color: #333;
  padding: 40px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background: #1c3555;
  border-bottom: 1px solid #e0e0e0;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.title {
  font-size: 16px;
  color: #c1c0c0;
  margin-top: 6px;
}

.contact {
  text-align: right;
  font-size: 14px;
  line-height: 1.6;
  color: #bbbbbb;
}

.contact p {
  margin-bottom: 4px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 30px;
}

.card {
  background: #ebedd5;
  border: #000000;
  border-radius: 12px;
  margin: 20px;
  padding: 25px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card h2 {
  font-size: 20px;
  margin-bottom: 14px;
  color: #1c3555;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.skills h4 {
  margin-bottom: 6px;
  color: #444;
}

.skills ul {
  list-style: none;
}

.skills li {
  padding: 6px 0;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #e6e6e6;
}

.project {
  margin-bottom: 18px;
}

.project h4 {
  font-size: 16px;
  margin-bottom: 4px;
  color: #333;
}

.project p {
  font-size: 13px;
  color: #555;
  margin-bottom: 4px;
}

.project span {
  font-size: 12px;
  color: #888;
  font-weight: 600;
}

.item {
  margin-bottom: 16px;
}

.item h4 {
  font-size: 15px;
  color: #333;
}

.item p {
  font-size: 13px;
  color: #555;
}

.item span {
  font-size: 12px;
  color: #777;
  font-weight: 600;
}

.activity {
  list-style: none;
}

.activity li {
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  color: #555;
}

/* RESPONSIVE */
@media(max-width: 900px){
  .main{
    grid-template-columns: 1fr;
  }

  .header{
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .contact{
    text-align: left;
  }
}
